@import "_header";



body {
   font-size: 20px;

   dive {
      font-size: 10px;
   }

   h1 {
      color: rgb(243, 17, 9);
   }
}

.block {

   &__ {}

   &__item {}
}



.block__ {}

.block__item {}


